@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    font-size: 30px;
    font-weight: 700;
    display: block;
    padding: 2rem;
    margin: 1rem;
    text-align: center;
}
